@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    @apply p-0 m-0 h-screen;
}

p {
    @apply indent-4 my-2 text-justify lg:text-lg;
}

.link-solid {
    @apply bg-brand-blue hover:brightness-90 text-white p-4;
}

.fade-enter {
    opacity: 0;
}
  
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 1000ms ease-in;
}
  